{% extends "layout.html" %}
{% block content %}
<form action="/taxis/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="distance_miles">Distance</label>
            <input id="distance_miles" type="text" class="form-control" placeholder="Distance of Ride" name="distance_miles">
        </div>
        <div class="col">
            <label for="fare">City Abbreviation</label>
            <input id="fare" type="text" class="form-control" placeholder="Fare"
                   name="fare">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}
