{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ taxi.distance_miles }} </h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ taxi.distance_miles }}</li>
        <li class="list-group-item">{{ taxi.fare }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{taxi.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{taxi.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}
